@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root{
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epiloque', sans-serif;
}

html, body{
    height: 100%;
}

.container {
    min-height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr repeat(2, 1.5fr) 0.5fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
      "nav nav nav"
      "hero hero hero"
      "content content content"
      "clients clients clients";
  }

.nav { 
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu{
    display: none;
}

.mobile-menu{
    display: none;
    color: var(--medium-gray);
}

.nav-item-arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.arrow{
    height: 8px;
    width: auto;
}

.mobile-menu.active{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5rem;
    padding-left: 10px;
    text-align: start;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    min-height: 100%;
    background-color: var(--almost-white);
    gap: 1.5rem;
    z-index: 0;
}

.mobile-menu .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.login-btn, .register-btn{
    padding: 8px 15px;
    width: 150px;
    background-color: var(--almost-white);
    font-family: inherit;
    font-weight: 700;
    color: var(--medium-gray);
}

.login-btn{
    border: none;
}

.register-btn{
    border: 1.5px solid var(--medium-gray);
    border-radius: 0.5rem;
}

#logo{
    margin-left: 5px;
}

.nav-item{
    list-style: none;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.hamburger{
    display: block;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.5s ease-in-out;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(5px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-5px) rotate(-45deg);
}

@media(min-width:769px) {
    .hamburger{
        display: none;
    }
}

.bar{
    display: block;
    width: 25px;
    height: 2px;
    margin: 3px auto;
    background-color: var(--almost-black);
}
  
.hero { 
    grid-area: hero;
    background-image: url(./images/image-hero-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
  
.content { 
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
  
.clients { 
    grid-area: clients;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.client{
    width: 3rem;
    height: 1.5rem;
}

.headline{
    font-weight: 700;
}

.text{
    font-weight: 500;
    font-size: 18px;
    color: var(--medium-gray);
    width: 90%;
    line-height: 1.6;
}